.request_container {
  display: flex;
  gap: 30px;
  align-content: center;
  justify-content: flex-start;
  margin: 3%;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  label {
    color: #754d42;
    font-weight: bold;
  }

  .left_container {
    width: 25%;
    padding: 35px 25px;
    height: min-content;
    border-radius: 8px;

    box-shadow: 0px 10px 10px 0px rgba(71, 61, 62, 0.25);
    border: 1px solid #754d42;

    @media (max-width: 768px) {
      width: 100%;
    }
    form {
      .form_items {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 15px;

        @media (max-width: 768px) {
          flex-direction: row;
          align-items: center;
          width: 100%;
          gap: 5px;
        }
        @media (max-width: 680px) {
          flex-direction: column;
          align-items: center;
          width: 100%;
          gap: 5px;
        }
        label {
          font-weight: 600;
          font-size: 16px;
          color: #754d42;
          margin-bottom: -10px;

          @media (max-width: 768px) {
            display: none;
          }
        }

        input,
        select {
          width: 100%;
          padding: 12px 16px;
          outline: none;
          border-radius: 4px;
          font-size: 16px;
          line-height: 1.75;
          color: #4e545f;
          cursor: pointer;
          border: 1px solid black;
        }

        select {
          padding: 15px;
        }

        .search_button {
          background-color: #754d42;
          border-radius: 6px;
          color: white;
          font-weight: 500;
          font-size: 18px;
          width: 100%;
          padding: 12px 16px;
          border: 1px solid transparent;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background-color: white;
            border-color: #754d42;
            color: #754d42;
          }
        }
      }
    }
  }

  button {
    &:hover {
      // background-color: #754d42;
      color: #000;
    }

    &.prev:hover::after {
      font-size: 18px;
      content: "Prev";
      color: #000; /* Change color if needed */
    }
    &.next:hover::before {
      font-size: 18px;
      content: "Next";
      color: #000;
    }
  }
}

.card {
  border-radius: 22px;
  width: 250px;
  padding: 10px;
  background-color: #fff;
  color: #917072;
  height: min-content;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

  .inner {
    padding: 20px;
    padding-top: 10px;
    background-color: #ffedec;
    border-radius: 12px;
    position: relative;
    overflow: hidden;

    span {
      position: absolute;
      top: 0;
      right: 0;
      background-color: #fbc8be;
      border-radius: 0 0 0 5px;
      display: flex;
      align-items: center;
      padding: 10px 12px;
      font-size: 20px;
      font-weight: 600;
      color: #754d42;
    }

    h2 {
      font-weight: 600;
      font-size: 20px;
      color: #754d42;
      margin-top: 12px;
    }

    p {
      margin-top: 16px;
    }

    ul {
      display: flex;
      flex-direction: column;

      li {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 12px;
      }
    }

    button {
      background-color: #fbc8be;
      border-radius: 6px;
      color: #754d42;
      font-weight: 500;
      font-size: 18px;
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      font-weight: bold;
      border: 1px solid transparent;

      &:hover {
        background-color: white;
        border-color: #754d42;
      }
    }
  }
}

.contect__model {
  background-color: white;
  padding: 30px;
  margin: -35px 0;
  // width: 400px;
  form {
    div {
      display: flex;
      margin-top: 15px;
    }

    p {
      color: red;
      line-height: 20px;
      font-size: 16px;
      margin-left: 85px;
      margin-top: 10px;
    }

    label {
      font-weight: 600;
      font-size: 16px;
      color: #754d42;
      width: 110px;
    }

    input,
    select,
    textarea {
      width: 100%;
      padding: 12px 16px;
      outline: none;
      border-radius: 4px;
      font-size: 16px;
      line-height: 1.75;
      color: #4e545f;
      cursor: pointer;
      border: 1px solid black;
    }

    select {
      padding: 15px;
    }

    textarea {
      resize: none;
    }

    .search_button {
      background-color: #754d42;
      border-radius: 6px;
      color: white;
      font-weight: 500;
      font-size: 18px;
      width: 100%;
      padding: 10px;
      margin-top: 30px;
      border: 1px solid transparent;

      &:hover {
        background-color: white;
        border-color: #754d42;
        color: #754d42;
      }
    }
  }
}
