@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https: //fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

@media only screen and (max-width:768px) {
  .navigation {
    @apply w-full h-full fixed top-0 left-0 z-[100] bg-[#00000084] hidden
  }

  .menu {
    @apply w-60 h-full bg-white z-[200] absolute top-0 right-0 flex-col items-center justify-center leading-[30px]
  }

  .show__menu {
    @apply block;
  }
}

@media only screen and (max-width:1024px) {
  .profile_bar {
    @apply w-full h-full fixed top-0 left-0 z-[100] bg-[#00000084] hidden
  }

  .profile_tab {
    @apply w-60 h-full bg-white z-[200] flex flex-col items-center justify-center leading-[30px]
  }

  .show__tab {
    @apply block;
  }
}

@layer base {
  section {
    @apply py-[75px];
  }

}


@layer components {



  .container {
    @apply px-5 mx-auto;
  }

  .btn {
    @apply bg-primaryColor py-[15px] px-[35px] rounded-[50px] text-white font-[600] mt-[38px] border border-solid border-transparent;
  }

  .btn-hover {
    @apply hover:border-primaryColor hover:bg-blue-100 hover:font-bold hover:text-[16px] hover:text-primaryColor;
  }

  .btn-pagination {
    @apply pt-2 pb-2 mt-2 border rounded-[6px] w-[100px] h-[45px] font-bold text-[25px] border-solid border-[#000] flex items-center justify-center gap-[5px];
  }

  .heading {
    @apply text-[44px] leading-[54px] font-[700] text-headingColor;
  }

  .text__para {
    @apply text-[18px] leading-[30px] font-[400] text-textColor mt-[18px];
  }

  .header {
    @apply bg-[url('../public/assets/images/mask.png')] bg-no-repeat bg-center bg-cover w-full h-[100px] leading-[100px];
  }

  .dol-header {
    @apply bg-gradient-to-r from-pink-100 via-red-400 to-red-500 w-full h-[100px] leading-[100px];
  }

  .hero__section {
    @apply bg-[url('../public/assets/images/hero-bg.png')] bg-no-repeat bg-center bg-cover;
  }

  .form__label {
    @apply text-textColor font-semibold text-[16px] mb-2;
  }

  .form__input {
    @apply w-full px-4 py-3 border border-solid border-[#0066ff61] focus:outline-none focus:border-primaryColor text-[16px] leading-7 text-headingColor placeholder:text-textColor cursor-pointer rounded-md;
  }

  .pscForm__input {
    @apply pb-1 pl-1 focus:outline-none focus:border-primaryColor text-[14px] leading-6 text-headingColor placeholder:text-textColor cursor-pointer;
  }

  /*  Pagination   */
  .content-prev::after {
    content: "Prev";
    @apply text-lg text-black;
  }

  .content-next::before {
    content: "Next";
    @apply text-lg text-black;
  }
}

@media only screen and (min-width:1024px) {
  .container {
    @apply w-full;
  }

  section {
    @apply py-[35px];
  }
}

@media only screen and (max-width:1024px) {
  .container {
    @apply w-full;
  }

  section {
    @apply py-[35px];
  }
}

@media only screen and (max-width:768px) {
  .heading {
    @apply text-[26px] leading-[35px];
  }

  .text__para {
    @apply text-[16px] leading-7 mt-3;
  }
}